html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg);
  font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
}

:root {
  --bg: #F3E9D2;
  --bg-navbar: #FAF5EB;

  --bg-card: #FAF5EB;
  --bg-card-hover: #FFFFFF;

  --bg-input: #FAF5EB;

  --border: #E2D5BA;

  --text: #4A494B;
  --text-h: #363537;
  --text-muted: #7A7870;

  --accent: #C86D51;
  --accent-hover: #B05B41;
  --accent-light: #F7E4DC;

  --success: #6B8E70;
  --warning: #D97706;
  --danger: #C0392B;

  /*
    UI
  */

  --shadow: 0 8px 25px rgba(54, 53, 55, 0.08);

  --shadow-hover: 0 12px 30px rgba(54, 53, 55, 0.14);

  --radius: 14px;
  --radius-sm: 8px;
}

/*
========================
DARK MODE
========================
*/

[data-theme="dark"] {
  /*
    Graphite base with warm tones
  */

  --bg: #1F1E20;

  --bg-navbar: #2C2B2D;

  /*
    Cards clearly separated
  */

  --bg-card: #272628;

  --bg-card-hover: #323134;

  /*
    Inputs stand out
  */

  --bg-input: #2C2B2D;

  --border: #403F42;

  /*
    Text
  */

  --text: #E4DAC5;

  --text-h: #F3E9D2;

  --text-muted: #A69E8D;

  /*
    Brand
  */

  --accent: #E07A5F;

  --accent-hover: #F18F75;

  --accent-light: rgba(224, 122, 95, 0.2);

  /*
    Food
  */

  --success: #82A787;

  --warning: #F59E0B;

  --danger: #E74C3C;

  /*
    Shadows
  */

  --shadow: 0 10px 30px rgba(0, 0, 0, 0.4);

  --shadow-hover: 0 15px 40px rgba(0, 0, 0, 0.55);
}
